@import 'normalize';

$light: #E6BBE2;
$dark: #997D97;
$border: #110038;
$highlight: #FF6161;
$downlight: #F7C9F3;
$white: #FFFFFF;



* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Chakra Petch', sans-serif;
    background-color: $light;
}


.clearfix:before, 
.clearfix:after {
    content: " ";
    display: table;
}

/* Main Header and Buttons */

#main_header {
    
    .main_title {
        height: 15px;
        padding: 4px 0 4px 7px;
        font-size: 12px;
        color: $white;
        box-shadow: 0 1px 0 0 #110038;
        background: rgb(65,128,246);
        background: linear-gradient(90deg, rgba(65,128,246,1) 0%, rgba(247,201,243,1) 100%);
        
    }
    
    #main_navigation {
        margin: 35px 140.5px 0px 91px;
        display: flex;
        align-items: center;
        
        .logo-homepage {
            
            width: 102.6px;
            height: 64px;
            margin-right: 685.4px;
            display: flex;
            justify-content: center;
            align-items: center;
            
        }
        
        .rectangle-1 {
            width: 144px;
            height: 36px;
            padding: 9px;
            margin-right: 11px;
            background: red;
            border: 1px solid var(--border);
            box-shadow: inset -1px -1px 0 0 var(--bg-header4), inset 1px 1px 0 0 var(--white);
            
        }
        
        
        .rectangle-2 {
            width: 131px;
            height: 36px;
            padding: 9px;
            margin-right: -5px;
            background: #F7C9F3;
            border: 1px solid #110038;
            box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
        }
        
        .rectangle-3 {
            img {
                position: relative;
                top:-2px;
            }
            width: 36px;
            height: 36px;
            padding: 9px;
            margin-right: -5px;
            background: #F7C9F3;
            border: 1px solid #110038;
            box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
        }
        
        .rectangle-4{
            margin-left: 16.5px;
            text-decoration: none;
            span {
                
                border-bottom: 1px solid #110038;
            }
            color: $border;
        }
        
        .line-dotted:hover {
            outline: 1px dotted $border;
            outline-offset: -4px;
        }
        .line-dotted:active {
            outline: 1px dotted $border;
            outline-offset: -4px;
        }
        
        .rectangle-4:hover {
            padding: 5px 12px 5px 0px;
            border:1px dotted $border;
        }
        
        .rectangle-4:active {
            color: #B4B4B4;
            border: none;
            span {
                
                border-color: #B4B4B4;
            }
            
        }
    }    
}

/* DROPDOWN MENU THEME 1 and 2*/
.navbar {
    font-size: 16px;
    
    .navbar-nav {
        list-style-type: none;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        height: 100%;
    }
    
    .dropdown {
        opacity: 0;
        list-style-type: none;
        position: absolute;
        font-size: 16px;
        color: $border;
        width: 166px;
        height: 102px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 2;
        background: #E6E6E6;
        box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
        transition: opacity .15s ease-out;
    }
    
    .has-dropdown:focus-within .dropdown   {
        opacity: 1;
        pointer-events: auto;
    }
} 

.button-1 {
    width: 150px;
    height: 36px;
}

.theme-1 {
    margin-bottom: 10px;
    background: #FFF4FD;
    border: 1px solid #CCA6C9;
    box-shadow: inset -1px -1px 0 0 #E6DCE4, inset 1px 1px 0 0 #FFFFFF;
    span {
        border-bottom: 1px solid #110038;
    }
}

.theme-2{
    background: #F0F0F0;
    border: 1px solid #808080;
    box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
}


/*----------------------------------------------------*/

.rectangle-2:hover + #rect-3 {
    outline: 1px dotted $border;
    outline-offset: -4px;
}
.rectangle-2:hover {
    outline: 1px dotted $border;
    outline-offset: -4px;
}

.rectangle-2:active + #rect-3 {
    outline: 1px dotted $border;
    outline-offset: -4px;
}
.rectangle-2:active {
    outline: 1px dotted $border;
    outline-offset: -4px;
}

.rectangle-3:hover {
    outline: 1px dotted $border;
    outline-offset: -4px;
}

.rectangle-3:active {
    outline: 1px dotted $border;
    outline-offset: -4px;
}

/* Main Bar Searching Gifs */
.wrapper {
    max-width: 1200px;
    margin: 64px 100px;
    
    .main_search {
        
        margin-bottom: 64px;
        background: #E6E6E6;
        box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
        padding: 2px;
        .search_title {
            padding: 3px;
            background-image: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
            p {
                font-size: 14px;
                font-weight: bold;
                color: #FFFFFF;
                margin-left: 3px;
            }
        }

        .search_bar {
            display: flex;
            align-items: center;
        }
        
        .main_bar{
            width: 1044px;
            height: 48px;
            margin: 12px 5px 12px 12px;
            display: inline-block;
            padding-left: 16px;
            background: #FFFFFF;
            border: 1px solid #979797;
            box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
            outline: none;
        }
        
        .button_search {
            width: 102px;
            height: 36px;
            font-size: 16px;
            color: #B4B4B4;
            background: #E6E6E6;
            border: 1px solid #808080;
            box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
            img {
                position: relative;
                top: 3px;
                
            }
            outline: none;
        }
    }
    
    .bar-2 {
        width: 1193px;
        height: 32px;
        padding-left: 7px;
        margin-bottom: 19px;
        font-size: 14px;
        display: flex;
        align-items: center;
        color: $border;
        background: #FFFAFE;
        border: 1px solid #E6BBE2;
        box-shadow: inset -2px -2px 0 0 #E6DCE4, inset 2px 2px 0 0 #80687D;
        p {
            text-transform: capitalize;
        }
    }
    
    .bar-3 {
        margin-top: 64px;
    }
    
}

/* DROPDown Search Bar*/

.dropdown-search {
    width: 1200px;
    height: 143px;
    opacity: 0;
    list-style-type: none;
    z-index: 2;
    background: #E6E6E6;
    box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
    font-size: 16px;

    position: absolute;
    color: $border;
    padding-top: 17px;

    transition: opacity .15s ease-out;
}

.has-dropdown-search:focus-within .dropdown-search  {
    opacity: 1;
    pointer-events: auto;
}

.nav-item-2 {

    margin-left: 16px;
}

.search-nav {
    list-style-type: none;
    position: relative;
    display: flex;
    align-items: center;
    left: -2px;
    top: 1px;
}

.drop-items {
    
    margin-top: 16px;
    margin-left: 15px;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    color: $border;
    
}

.b-item {
    margin-bottom: 10px;
    width: 1057px;
    height: 36px;
    text-align: start;
    padding-left: 16px;
    background: #F0F0F0;
    border: 1px solid #808080;
    box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
}

.b-item:hover {
    outline: 1px dotted $border;
    outline-offset: -4px;
}

/* Gif Container window Trending*/

.gif-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.gif-container {
    width: 288px;
    height: 313px;
    display: flex;
    justify-content: center;
    background: #E6E6E6;
    box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
}

.title-gif {
    
    width: 280px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 3px;
    background-image: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
    p {
        
        font-size: 14px;
        font-weight: bold;
        color: #FFFFFF;
        margin-left: 3px;
    }
}

.close-gif {
    float: right;
    width: 16px;
    height: 14px;
    margin-right: 3px;
    background: #E6E6E6;
    border: 1px solid #808080;
    box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
    img {
        position: relative;
    }
    
}

/* Main Search Div Section*/

.search-gif {
    max-width: 1200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    img {
        margin: 5px;
    }
}

/* Trending Section*/

.js-gif {
    width: 280px;
    height: 280px;
    img {
        width: 280px;;
        height: 280px;;
        object-fit: cover;
    }
}

.see-more {
    z-index: 1px;
    width: 81px;
    height: 34px;
    font-size: 14px;
    color: #FFFFFF;
    text-align: center;
    position: relative;
    left: 7px;
    top: -49px;
    background: #4180F6;
    border: 1px solid #4C2F99;
    box-shadow: inset -2px -2px 0 0 #284F99, inset 2px 2px 0 0 #FFFFFF;
    
}



