@import 'normalize';
@import 'variables';

* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Chakra Petch', sans-serif;
    background-color: var(--light-2);
    transition: background 500ms ease-in-out, color 1000ms ease-in-out;
}


.clearfix:before, 
.clearfix:after {
    content: " ";
    display: table;
}

#main-wrapper {
    
}

/* Main Header and Buttons */

button {
    cursor: pointer;
}

.main_title {
    height: 15px;
    padding: 4px 0 4px 7px;
    font-size: 12px;
    color: var(--white);
    box-shadow: 0 1px 0 0 var(--border);
    background: var(--bg-header2);
    background: linear-gradient(90deg, var(--bg-header2) 0%, var(--bg-header) 100%);
    
}

#main_navigation {
    margin: 35px 140.5px 0px 91px;
    display: flex;
    align-items: center;
}

.logo-homepage {
    
    width: 102.6px;
    height: 64px;
    margin-right: 685.4px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.rectangle-1 {
    color: var(--font1);
    width: 144px;
    height: 36px;
    padding: 9px;
    margin-right: 11px;
    background: var(--bg-header);
    border: 1px solid var(--border);
    box-shadow: inset -1px -1px 0 0 var(--bg-header4), inset 1px 1px 0 0 var(--white);
    
}


.rectangle-2 {
    color: var(--font1);
    width: 131px;
    height: 36px;
    padding: 9px;
    margin-right: -5px;
    background: var(--bg-header);
    border: 1px solid var(--border);
    box-shadow: inset -1px -1px 0 0 var(--bg-header4), inset 1px 1px 0 0 var(--white);
}

.rectangle-3 {
    img {
        position: relative;
        top:-2px;
    }
    width: 36px;
    height: 36px;
    padding: 9px;
    margin-right: -5px;
    background: var(--bg-header);
    border: 1px solid var(--border);
    box-shadow: inset -1px -1px 0 0 var(--bg-header4), inset 1px 1px 0 0 var(--white);
}

.rectangle-4{
    color: var(--font1);
    margin-left: 16.5px;
    text-decoration: none;
    span {
        
        border-bottom: 1px solid var(--font1);
    }
}

.line-dotted:hover {
    outline: 1px dotted var(--border);
    outline-offset: -4px;
}
.line-dotted:active {
    outline: 1px dotted var(--border);
    outline-offset: -4px;
}

.rectangle-4:hover {
    padding: 5px 12px 5px 0px;
    border:1px dotted var(--font1);
}

.rectangle-4:active {
    color: var(--bg-search2);
    border: none;
    span {
        
        border-color: var(--bg-search2);
    }
    
}


/* DROPDOWN MENU THEME 1 and 2*/
.navbar {
    font-size: 16px;
    color: var(--font1); 
}

.navbar-nav {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
}

.dropdown {
    opacity: 0;
    display: none;
    list-style-type: none;
    position: absolute;
    font-size: 16px;
    color: var(--border);
    width: 166px;
    height: 102px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
    background: var(--bg-search6);
    box-shadow: inset -2px -2px 0 0 var(--bg-search8), inset 2px 2px 0 0 var(--white);
    transition: opacity .15s ease-out;
}

.has-dropdown:focus-within .dropdown   {
    opacity: 1;
    display: flex;
    pointer-events: auto;
}


.button-1 {
    width: 150px;
    height: 36px;
}

.theme-1 {
    font-size: 16px;
    margin-bottom: 10px;
    text-align: start;
    text-indent: 16px;
    background: var(--color2);
    border: 1px solid var(--cb2);
    box-shadow: inset -1px -1px 0 0 var(--is2), inset 1px 1px 0 0 var(--white);
    span {
        border-bottom: 1px solid var(--is4);
    }
}

.theme-2{
    font-size: 16px;
    color: var(--font1);
    text-align: start;
    text-indent: 16px;
    background: var(--color3);
    border: 1px solid var(--cb3);
    box-shadow: inset -1px -1px 0 0 var(--is21), inset 1px 1px 0 0 var(--white);
    span {
        border-bottom: 1px solid var(--is5);
    }
}


/*----------------------------------------------------*/

.rectangle-2:hover + #rect-3 {
    outline: 1px dotted var(--border);
    outline-offset: -4px;
}
.rectangle-2:hover {
    outline: 1px dotted var(--border);
    outline-offset: -4px;
}

.rectangle-2:active + #rect-3 {
    outline: 1px dotted var(--border);
    outline-offset: -4px;
}
.rectangle-2:active {
    outline: 1px dotted var(--border);
    outline-offset: -4px;
}

.rectangle-3:hover {
    outline: 1px dotted var(--border);
    outline-offset: -4px;
}

.rectangle-3:active {
    outline: 1px dotted var(--border);
    outline-offset: -4px;
}

/* Main Bar Searching Gifs */
.wrapper {
    max-width: 1200px;
    margin: 64px 100px;
    
    .main_search {
        
        margin-bottom: 64px;
        background: var(--bg-search);
        box-shadow: inset -2px -2px 0 0 var(--bg-search2), inset 2px 2px 0 0 var(--white);
        padding: 2px;
        .search_title {
            padding: 3px;
            background-image: linear-gradient(270deg, var(--bg-header) 0%, var(--bg-header2) 100%);
            p {
                font-size: 14px;
                font-weight: bold;
                color: var(--white);
                margin-left: 3px;
            }
        }
        
        .search_bar {
            display: flex;
            align-items: center;
        }
        
        .main_bar{
            width: 1044px;
            height: 48px;
            margin: 12px 5px 12px 12px;
            display: inline-block;
            padding-left: 16px;
            background: var(--white);
            border: 1px solid #979797;
            box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
            outline: none;
        }
        
        .button_search {
            width: 102px;
            height: 36px;
            font-size: 16px;
            color: var(--se1);
            background: var(--bg-search6);
            border: 1px solid var(--bg-search7);
            box-shadow: inset -1px -1px 0 0 var(--bg-search8), inset 1px 1px 0 0 var(--white);
            img {
                position: relative;
                top: 3px;
                right: 5px;
                
            }
            outline: none;
        }
        //Clase de button busqueda

        .button-2 {
            width: 102px;
            height: 36px;
            font-size: 16px;
            color: var(--border);
            background: var(--bg-header);
            border: 1px solid var(--border);
            box-shadow: inset -1px -1px 0 0 var(--bg-header4), inset 1px 1px 0 0 var(--white);
            img {
                position: relative;
                top: 3px;
                right: 5px;
                
            }
        }
        .button-2:hover {
            cursor: pointer;
            outline: 1px dotted var(--border);
            outline-offset: -4px;
            background: var(--cb);
            border: 1px solid var(--border);
            box-shadow: inset -1px -1px 0 0 var(--bg-header4), inset 1px 1px 0 0 var(--white);
        }
    }
    
    .bar-2 {
        width: 1193px;
        height: 32px;
        padding-left: 7px;
        margin-bottom: 19px;
        font-size: 14px;
        display: flex;
        align-items: center;
        color: var(--border);
        background: var(--color);
        border: 1px solid var(--cb);
        box-shadow: inset -2px -2px 0 0 var(--is), inset 2px 2px 0 0 var(--is7);
        p {
            text-transform: capitalize;
        }
    }
    
    .bar-3 {
        margin-top: 64px;
    }
    
}

/* DROPDown Search Bar*/

.dropdown-search {
    width: 1200px;
    height: 143px;
    opacity: 0;
    display: none;
    list-style-type: none;
    z-index: 2;
    background: var(--bg-search6);
    box-shadow: inset -2px -2px 0 0 var(--se1), inset 2px 2px 0 0 var(--white);
    font-size: 16px;
    
    position: absolute;
    color: var(--border);
    padding-top: 17px;
    
    transition: opacity .15s ease-out;
}

.has-dropdown-search:focus-within .dropdown-search  {
    opacity: 1;
    display: block;
    pointer-events: auto;
}

.nav-item-2 {
    
    margin-left: 16px;
}

.search-nav {
    list-style-type: none;
    position: relative;
    display: flex;
    align-items: center;
    left: -2px;
    top: 1px;
}

.drop-items {
    
    margin-top: 16px;
    margin-left: 15px;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    color: var(--border);
    
}

.b-item {
    margin-bottom: 10px;
    width: 1057px;
    height: 36px;
    text-align: start;
    padding-left: 16px;
    background: var(--se3);
    border: 1px solid var(--bg-search7);
    box-shadow: inset -1px -1px 0 var(--bg-search8), inset 1px 1px 0 0 var(--white);
}

.b-item:hover {
    outline: 1px dotted var(--border);
    outline-offset: -4px;
}

/* Gif Container window Trending*/

.gif-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.gif-container {
    width: 288px;
    height: 313px;
    display: flex;
    justify-content: center;
    background: var(--gif1);
    box-shadow: inset -2px -2px 0 0 var(--gif2), inset 2px 2px 0 0 var(--white);
}

.title-gif {
    
    width: 280px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 3px;
    margin-bottom: 3px;
    background-image: linear-gradient(270deg, var(--bg-header) 0%, var(--bg-header2) 100%);
    p {
        
        font-size: 14px;
        font-weight: bold;
        color: var(--white);
        margin-left: 3px;
    }
}

.close-gif {
    float: right;
    width: 16px;
    height: 14px;
    margin-right: 3px;
    // background: #E6E6E6;
    // border: 1px solid #808080;
    // box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 var(--white);
    img {
        position: relative;
    }
    
}

/* Main Search Div Section*/

.search-gif {
    max-width: 1200px;
    // display: flex;
    // justify-content: space-around;
    // align-items: center;
    // flex-wrap: wrap;
    // img {
    //     margin: 5px;
    // }
    display: grid;
    height: 100%;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 16px;
}

.search-gif img {
    width: 100%;
}

/* Trending Section*/

.js-gif {
    img {
        width: 280px;;
        height: 280px;;
        //object-fit: cover;
    }
}


.see-more {
    z-index: 1px;
    width: 81px;
    height: 34px;
    font-size: 14px;
    color: var(--white);
    text-align: center;
    position: relative;
    left: 7px;
    top: -49px;
    background: var(--gif3);
    border: 1px solid var(--gif4);
    box-shadow: inset -2px -2px 0 0 var(--gif5), inset 2px 2px 0 0 var(--white);
    
}

.see-more:hover {
    outline: 1px dotted var(--border);
    outline-offset: -4px;
}

.line-around {
    outline: 1px dotted var(--border);
    outline-offset: -2px;
}


//--------------------------------- CREAR GIFOS

.arrow {
    margin-right: 14px;
}

#creategif {
    width: 684px;
    height: 386px;
    margin-bottom: 153px;
}

.wrapper-2{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.createcontent {
    margin-top: 30px;
    margin-left: 15px;
    margin-bottom: 20px;
    display: flex;
    
    align-items: flex-start;
    img {
        margin-right: 16px;
        margin-left: 10px;
    }
    li {
        list-style: none;
        margin-bottom: 8px;
    }
    h2 {
        font-size: 16px;
        margin-bottom: 17px;
    }
    p , li {
        font-size: 14px;
    }
    span {
        font-weight: bold;
        
    }
    .gif-2 {
        font-style: oblique;
    }
}

.cont-1 {
    letter-spacing: 0;
    line-height: 20px;
}

.createbutton {
    margin-left: 344px;
}

.bcancel {
    background: var(--color2);
}

.vid1 {
    width: 838px;
    height: 434px;
    margin: 8px 0px 24px 8px;
    background: #FFFFFF;
    border: 1px solid #979797;
    box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
    
}

.creategif2 {
    width: 860px;
    height: 548px;
    margin-bottom: 153px;
}

.bcancel2 {
    background: var(--bg-header);
    width: 36px;
    height: 36px;
    margin: 0;
}

.createbutton2{
    
    float: right;
    display: flex;
}

.win1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    a {
        margin-right: 8px;
        margin-top: 2px;
    }
    
}

.recording {
    width: 18px;
    height: 18px;
}

.recording2 {
    width: 124px;
    height: 36px;
    margin-left: 11px;
    margin-right: 24px;
    background: var(--white);
    border: 1px solid #979797;
    box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
    outline: none;
}

.win2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.forward {
    width: 20px;
    height: 20px;
    margin-right: 4px;
    background: var(--bg-header);
    border: 1px solid var(--border);
    box-shadow: inset -1px -1px 0 0 var(--bg-header4), inset 1px 1px 0 0 var(--white);
}

.forward_bar{
    width: 240px;
    height: 24px;
    margin-left: 0;
    background: #B4B4B4;
    box-shadow: inset 2px 2px 0 0 #FFFCFC, inset -2px -2px 0 0 #000000;
}

.bar_play {
    display: flex;
    align-items: center;
}

.createbutton4 {
    float: right;
}

.cr2 {
    background: var(--color2);
}

.vid_content {
    img {
        margin-top: 139px;
        margin-bottom: 8px;
    }
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    .row {
        font-size: 16px;
        font-weight: bold;
        color: var(--border);
        margin-bottom: 39px;
    }

    .forward_bar2{
        width: 324px;
        height: 24px;
        margin-bottom: 8px;
        background: #B4B4B4;
        box-shadow: inset 2px 2px 0 0 #FFFCFC, inset -2px -2px 0 0 #000000;
    }

    .row1 {
        font-size: 12px;
        font-weight: normal;
        color: rgba(17,0,56,0.64);
        span {
            text-decoration: line-through;
        }
    }
}

#vid {
    display: flex;
    align-items: center;
    justify-content: center;
 
}

#capturar {
    display: none;
}

#stopVideo {
    display: none;
}

#preview-video {
    display: none;
}

#addGifo {
    display: none;
}

#vid2 {
    width: 838px;
    height: 434px;
}

.search-gif2 {
    max-width: 1200px;
    display: flex;
    align-items: flex-start;
    //justify-content: space-around;
    flex-wrap: wrap;
    img {
        margin: 5px;
    }
}


.hover-rec {
    background: #FF6161;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #993A3A, inset 1px 1px 0 0 #FFFFFF;
}

.hover-rec:hover {
    outline: 1px dotted var(--border);
    outline-offset: -4px;
    cursor: pointer;
}

.img-tag {
    background: #E6E6E6;
    box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
}